.searchgoods{
	width:760px;
	height:520px;
	padding:11px;	
	margin-left: -380px;
	margin-top: -260px;
	background:#CAD9E6;
	border:1px solid #3D596F;
}

.sg_contain_up{
	width:749px;
	height:479px;
	border:1px solid #cecece;
	background:#FFFFFF;
	padding:5px;
	padding-top:8px;
}

.searchtitle{
	padding:2px 0px 6px 2px;
}

.txt_goods_name{
	width:250px;
}

.updownoper{
	text-align:center;
}
.updown_mana{
	height:20px;
}

.selralategoods{
	border:1px solid #e1e2e3;
	margin-top:5px;
	margin-bottom:6px;
}

.rg_title{
	background:red;
}

.selulrg tr{
	padding-top:5px;
	border:1px solid #DDDDDD;
	margin-top:1px;
}

.span_td1{
	text-align:center;
	line-height:2px;
	background-color: #DDDDDD;
}
.span_td2{
	padding-left:8px;
	text-align:center;
	background-color: #DDDDDD;
}
.span_td3{
	text-align:center;
	line-height:2px;
}
.span_td4{
	padding-left:8px;
	text-align:center;
}
