.password_title{
	background:url(../images/zh_password.gif) no-repeat;
	height:60px;
	text-indent:-9000px;
	}
.pass_cont{
	width:385px;
	margin:0 auto;
	}	
.pass_title{
	line-height:22px;
	padding:10px 0 5px 0;
	}	
.pass_input_t{
	width:385px;
	height:6px;
	background:url(../images/password_cont_t.gif) no-repeat;
	overflow:hidden;
	}
.pass_input_d{
	width:385px;
	height:6px;
	background:url(../images/password_cont_d.gif) no-repeat;
	overflow:hidden;
	}
.pass_input_c{
	width:385px;
	background:url(../images/password_cont_c.gif) repeat-y;
	}
.pass_input_c ul{
	width:335px;
	margin:0 auto;
	padding:10px 0;
	}
.pass_input_c ul li{
	height:35px;
	line-height:35px;
	}	
.pass_input_c ul .hover{
	background:#d9eafc;
	}		
.lb_un{
	font-weight:bold;
	padding-left:20px;
	display:inline-block;
	width:107px;
	}	
		
.pass_text{
	width:157px;
	border:1px solid #7e9db9;
	height:16px;
	line-height:16px;
	background:#dddddd;
	}
.pass_text1{
	width:157px;
	border:1px solid #7e9db9;
	height:16px;
	line-height:16px;
	background:#ffffff;
	}
.pass_text2{
	width:100px;
	border:1px solid #7e9db9;
	height:16px;
	line-height:16px;
	background:#ffffff;
	}		
.lb_un6{
	_margin-top:7px;
	}	
	
.yzm{
	font-weight:bold;
	padding-left:20px;
	display:inline-block;
	width:75px;
	}
.yzm_img{
	padding-left:102px;
	}	
	
.tj{
	width:95px;
	margin:0 auto;
	padding:20px 0;
	}	
.pass_tj{
	width:95px;
	height:35px;
	border:0;
	background:url(../images/pass_tj.gif) no-repeat;
	cursor:pointer;
	}	
			