body{margin:0;padding:0;font-size:12px;font-family: "宋体";color:#666666;background:#fff;}
ul{padding:0;margin:0;list-style-type:none;}
div, ul, p, h2 ,h3,h4{margin:0;padding:0;border:none;}
dl,dt,dd{padding:0px;margin:0px;}
img{border:none;margin:0;padding:0;}
a{color:#666666;text-decoration:none;}
a:hover{color:#d81d20;text-decoration:none;}
.f_left{float:left;}
.f_right{float:right;}	
.clear{clear: both;}

/*顶部*/
.topBack{
	width:100%;
	height:36px;
	background:#f9f9f9;
	border-bottom:#eaeaea solid 1px;
}
.topCont{
	width:1180px;
	height:36px;
	line-height:36px;
	margin:0 auto;
}
.topCont .ltCont{
	float:left;
}
.topCont .rtCont{
	float:right;
}
.rtCont span{
}
.rtCont .loginSpan a{
	margin:0 5px;
}
/*合作登录*/
.rtCont .cLoginSpan{
	height:35px;
	padding:0 22px 0 8px;
	margin-right:5px;
	position:relative;
	cursor:pointer;
	background:url(../images/topjt.png) no-repeat 90% center;
	border:#f9f9f9 solid 1px;
	border-bottom:none;
	z-index:10;
}
.rtCont .addCLS{
	height:36px;
	background:#fff url(../images/topjt.png) no-repeat 90% center;
	border:#eaeaea solid 1px;
	border-bottom:#fff solid 1px;
}
.cLoginSpan .clsDiv{
	width:107px;
	position:absolute;
	left:-1px;
	top:36px;
	background:#fff;
	border:#eaeaea solid 1px;
	border-top:none;
	padding:0px;
	line-height:24px;
	display:none;
}
.cLoginSpan .clsDiv .clsp img{
	padding:10px;
	width:85px;
	height:85px;
}
.cLoginSpan .clsDiv a{
	width:97px;
	height:28px;
	padding-left:0;
	line-height:28px;
	display:inline-block;
}
.cLoginSpan .clsDiv a:hover{
	background:#e4b632;
	color:#fff;
	text-decoration:none;
}
.rtCont  .tOrderSpan a{
	background:url(../images/topLine.gif) no-repeat left center;
	padding:0 10px;
}
/*手机版本*/
.rtCont  .phoneSpan{
	padding:0 20px 0 5px;
	margin-right:5px;
	position:relative;
	cursor:pointer;
	background:url(../images/topjt.png) no-repeat 94% center;
	border:#f9f9f9 solid 1px;
	border-bottom:#fff solid 1px;
	z-index:10;
}
.rtCont  .phoneSpan img{
	vertical-align:middle;
	padding:0 5px 0 2px;
}
.rtCont .addPhone{
	background:#fff url(../images/topjt.png) no-repeat 94% center;
	border:#eaeaea solid 1px;
	border-bottom:#fff solid 1px;
}
.rtCont .phoneDiv{
	width:170px;
	position:absolute;
	left:-100px;
	top:36px;
	background:#fff;
	border:#eaeaea solid 1px;
	border-top:none;
	padding:10px;
	display:none;
}
.rtCont .phoneDiv p{
	height:100px;
	border-bottom:#eaeaea dashed 1px;
}
/*logo,搜索,购物车*/
.logoSearDiv{
	width:1180px;
	height:75px;
	margin:15px auto 12px;
	position:relative;
	z-index:5;
}
.logoDiv{
	position:absolute;
	top:0px;
	left:0px;
}
/*搜索*/
.searDiv{
	width:480px;
	position:absolute;
	left:380px;
	top:10px;
}
.searDiv .searCont{
	width:476px;
	height:35px;
	background:#fff;
	border:#e4b632 solid 2px;
}
.searCont .searText{
	width:375px;
	height:18px;
	line-height:18px;
	position:absolute;
	top:8px;
	left:5px;
	border:#fff solid 1px;
	outline:0;
}
.searCont .searBut{
	width:90px;
	height:38px;
	background:#e4b632;
	border:none;
	position:absolute;
	top:0px;
	right:0px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#fff;
	cursor:pointer;
}
.searHot{
	width:480px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	color:#929292;
}
.searHot a{
	color:#929292;
	margin-right:15px;
}
.searHot a:hover{
	color:#d71d20;
}
/*购物车*/
.iCart{
	width:154px;
	height:39px;
	position:absolute;
	right:50px;
	top:11px;
}
.iCart  .ica{
	width:154px;
	height:39px;
	display:inline-block;
	position:absolute;
	top:0px;
	z-index:1;
	background:url(../images/icart.png) no-repeat;
}
.iCart  .addIca{
	background:url(../images/hcart.png) no-repeat;
}
.iCart  .icNum{
	background:#e4b632;
	color:#fff;
	padding:1px 5px;
	position:absolute;
	z-index:2;
	left:120px;
	top:-5px;
	border-radius:7px 7px 7px 0;
	-moz-border-radius:7px 7px 7px 0;
	-ms-border-radius:7px 7px 7px 0;
	-o-border-radius:7px 7px 7px 0;
	-webkit-border-radius:7px 7px 7px 0;
}
/**/
.iCart  .icCont{
	width:310px;
	border:#e9e9e9 solid 1px;
	position:absolute;
	top:38px;
	left:-158px;
	background:#fff;
	display:none;
}
.icCont .icp{
	padding:10px 10px 0 10px;
}
.icCont .zjP{
	height:28px;
	background:#f5f5f5;
	padding:10px;
	margin-top:10px;
	line-height:28px;
}
.icCont .zjP .goa{
	height:28px;
	background:#e4b632;
	float:right;
	padding:0 10px;
	color:#fff;
	font-family:"微软雅黑";
	border-radius:2px;
	-moz-border-radius:2px;;
	-ms-border-radius:2px;;
	-o-border-radius:2px;;
	-webkit-border-radius:2px;
}
/**/
.icCont .icTab{
	padding:0 5px;
}
.icCont .icTab tr{
	vertical-align:top;
}
.icCont .icTab td{
	padding:10px 5px 10px;
	border-bottom:#ccc dashed 1px;
}
.icCont .icTab .imgtb{
	width:50px;
	height:50px;
}
.icCont .icTab .imgtb img{
	width:50px;
	height:50px;
	border:#dddddd solid 1px;
}
.icCont .icTab .texttb{
	width:130px;
	line-height:18px;
}
.icCont .cztab{
	text-align:right;
}
.icCont .cztab p{
	line-height:18px;
	padding-bottom:3px;
}
.icCont .cztab .scSpan{
	cursor:pointer;
}
/*导航*/
.navBack{
	width:100%;
	height:45px;
	border-bottom:#a3873f solid 2px;
}
.navDiv{
	width:1180px;
	height:45px;
	margin:0 auto;
}
/*导航产品分类*/
.claMain{
	width:220px;
	height:45px;
	background:#e4b632;
	float:left;
	position:relative;
	z-index:8;
	border-bottom:#a3873f solid 2px;
}
.claMain .clah2{
	width:185px;
	height:45px;
	line-height:45px;
	font-family:"微软雅黑";
	color:#fff;
	font-size:16px;
	background:url(../images/clah2.gif) no-repeat 10px center;
	padding-left:35px;
}
/**/
.claMain .claMeun{
	width:220px;
	height:578px;
	background:#faf8f4;
	position:absolute;
	top:47px;
	left:0px;
	display:none;
}
.claMeun  li{
	width:200px;
	height:34px;
	background:url(../images/claLine.gif) repeat-x bottom;
	overflow:hidden;
	padding:0 10px;
}
.claMeun  li h3{
	height:34px;
	font-family:"微软雅黑";
	font-weight:400;
	font-size:13px;
	line-height:34px;
	background:url(../images/clajt.gif) no-repeat right center;
}
.claMeun  li a:hover{
	text-decoration:underline;
}
.claMeun  .addLi{
	background:#e4b632;
	color:#fff;
}
.claMeun  .addLi h3{
	background:url(../images/clajt2.gif) no-repeat right center;
}
.claMeun  .addLi a{
	color:#fff;
}
/*右边隐藏部分*/
.claMeun .claItem{
	width:400px;
	background:#e4b632;
	position:absolute;
	left:220px;
	padding:5px 15px 10px;
	z-index:1;
	font-family:"微软雅黑";
}
.claItem .claItemCont h4{
	height:42px;
	line-height:40px;
	width:400px;
	font-size:14px;
	font-weight:400;
	border-bottom:#a3873f solid 1px;
}
.claItem .claItemCont h4 img{
	width:25px;
	height:25px;
	vertical-align:middle;
	padding-right:5px;
}
.claItem .claItemCont p{
	padding-top:10px;
}
.claItem .claItemCont p a{
	color:#fff;
	display:inline-block;
	margin:5px 25px 5px 0;
}
/*导航*/
.navCont{
	float:left;
	line-height:45px;
	font-family:"微软雅黑";
	font-size:15px;
}
.navCont li{
	float:left;
	padding:0 25px;
}

/*底部*/
.botBack{
	margin-top:15px;
	padding:0 0 15px;
}
/**.tsBanner{
	width:100%;
	height:90px;
	background:#f5f5f5;
	
}
.tsBanner .tsPic{
	width:1180px;
	height:90px;
	margin:0 auto;
	background:url(../images/tsBanner.gif) no-repeat  center;
}*/
.sNavDiv{
	width:1180px;
	margin:20px auto 0;
}
.sNavDiv li{
	width:180px;
	float:left;
	margin-left:5px;
}
.sNavDiv li h3{
	font-family:"微软雅黑";
	height:28px;
	line-height:24px;
	font-weight:400;
	font-size:14px;
}
.sNavDiv li ul li{
	float:none;
	line-height:24px;
	margin:0px;
}
.sNavDiv .sNavdp{
	width:180px;
	height:140px;
	background:url(../images/jmdp.gif) no-repeat left 10px;
	padding-left:60px;
}
.sNavDiv .sNavdp p{
	line-height:20px;
	padding:7px 0 0;
}
.sNavDiv .sNavdp span{
	font-family:"微软雅黑";
	font-size:14px;
}
/**/
.copyright{
	width:1180px;
	border-top:#e5e5e5 solid 1px;
	margin:15px auto 0;
}
.copyright p{
	text-align:center;
	line-height:22px;
	padding-top:15px;
}
.copyright a{
	margin:0 5px;
}
/*位置*/
.postion{
	width:1180px;
	margin:0 auto;
	height:40px;
	line-height:40px;
}
/*返回顶部*/
.returnTop{
	width:28px;
	height:103px;
	background:url(../images/reTop.png) no-repeat;
	background-position:0 -103px;
	position:fixed;
	top:600px;
	right:0px;
	cursor:pointer;
	display:none;
	z-index:20;
}
.reAddTop{
	background-position:0 0;
}
/*未找到商品*/
.noFind{
	width:1180px;
	margin:0 auto 15px;
	border-bottom:#eaeaea solid 1px;
	text-align:center;
	padding:15px 0;
}
.noFind img{
	vertical-align:middle;
}
.noFind b{
	font-size:14px;
	padding-left:15px;
}
.nulldata {
    background: #FDFFE7 url('/include/common/images/nulldata.gif') no-repeat 8px 7px;
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-left:36px;
    border:1px solid #E1D0B2;
    margin:2px 0px 8px 0px;
}
.cover {
    background: none repeat scroll 0 0 black;
}



/*最右侧*/
.leftSide{
	width:282px;
	position:fixed;
	right:-242px;
	top:0px;
	z-index:50;
}
.leftSide .leftSideDiv{
	width:40px;
	background:#383838;
	position:relative;
	color:#fff;
	font-family:"微软雅黑";
	float:left;
}
.leftSideDiv .lsCart{
	width:40px;
	height:132px;
	position:absolute;
	left:0px;
	top:34%;
	
}
.leftSideDiv .cartSpan{
	width:40px;
	height:95px;
	text-align:center;
	background:#383838 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -206px;
	display:inline-block;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	padding-top:35px;
	line-height:22px;
	cursor:pointer;
	border-top:#4d4d4d solid 1px;
	border-bottom:#4d4d4d solid 1px;
}
.leftSideDiv .addCartSpan{
	background:#e4b632 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -206px;
	border-top:#e4b632 solid 1px;
	border-bottom:#e4b632 solid 1px;
}
.leftSideDiv .selCartSpan{
	background:#e4b632 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -206px;
	border-top:#e4b632 solid 1px;
	border-bottom:#e4b632 solid 1px;
}
.leftSideDiv  .numi{
	background:#dd0000;
	padding:0 5px;
	font-style:normal;
	border-radius:5px;
}
/*领取优惠劵*/
.leftSideDiv .lsCoupon{
	width:40px;
	height:34px;
	position:absolute;
	left:0px;
	bottom:128px;
}
.leftSideDiv .lsCoupon a{
	width:40px;
	height:34px;
	background:#383838 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -145px;
	display:inline-block;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.leftSideDiv .lsCoupon .addlsCoupon{
	background:#e4b632 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -145px;
}
.leftSideDiv .lsCoupon span{
	width:80px;
	height:34px;
	display:inline-block;
	background:#e4b632;
	text-align:center;
	line-height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
/*领取红包*/
.leftSideDiv .lsRedBag{
	width:40px;
	height:34px;
	position:absolute;
	left:0px;
	bottom:88px;
}
.leftSideDiv .lsRedBag a{
	width:40px;
	height:34px;
	background:#383838 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -176px;
	display:inline-block;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.leftSideDiv .lsRedBag .addlsRedBag{
	background:#e4b632 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -176px;
}
.leftSideDiv .lsRedBag span{
	width:80px;
	height:34px;
	display:inline-block;
	background:#e4b632;
	text-align:center;
	line-height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
/**/
.leftSideDiv .lsChat{
	width:40px;
	height:34px;
	position:absolute;
	left:0px;
	bottom:48px;
}
.leftSideDiv .lsChat a{
	width:40px;
	height:34px;
	background:#383838 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -75px;
	display:inline-block;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.leftSideDiv .lsChat .addlsChat{
	background:#e4b632 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -75px;
}
.leftSideDiv .lsChat span{
	width:80px;
	height:34px;
	display:inline-block;
	background:#e4b632;
	text-align:center;
	line-height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
/**/
.leftSideDiv .lsReTop{
	width:40px;
	height:34px;
	position:absolute;
	left:0px;
	bottom:10px;
}
.leftSideDiv .lsReTop a{
	width:40px;
	height:34px;
	background:#383838 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -110px;
	display:inline-block;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.leftSideDiv .lsReTop .addlsReTop{
	background:#e4b632 url(../images/leftSideIcon.png) no-repeat;
	background-position:0 -110px;
}
.leftSideDiv .lsReTop span{
	width:80px;
	height:34px;
	display:inline-block;
	background:#e4b632;
	text-align:center;
	line-height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
/*右边购物车*/
.rightCart{
	width:240px;
	background:#fff;
	position:relative;
	float:left;
	border-left:#383838 solid 2px;
}
.rightCart .rCartTab{
	width:230px;
	overflow:auto;
	padding:0 5px;
}
.rightCart  tr{
	vertical-align:top;
}
.rightCart  td{
	padding:10px 5px 10px;
	border-bottom:#ccc dashed 1px;
}
.rightCart  .imgtb{
	width:50px;
	height:50px;
}
.rightCart  .imgtb img{
	width:50px;
	height:50px;
	border:#dddddd solid 1px;
}
.rightCart .texttb{
	width:85px;
	line-height:18px;
}
.rightCart .cztab{
	text-align:right;
}
.rightCart .cztab p{
	line-height:18px;
	padding-bottom:3px;
}
.rightCart .cztab .scSpan{
	cursor:pointer;
}
.rCartTab .nb{
	height:32px;
	display:inline-block;
	line-height:32px;
	padding:0 5px;
}
/**/
.rightCart .rCartBut{
	width:210px;
	height:73px;
	background:#f5f5f5;
	position:absolute;
	left:0px;
	bottom:0px;
	padding:5px 15px;
}
.rightCart .rCartBut p{
	padding:5px 0px;
}
.rightCart .rCartBut b{
	color:#d30313;
}
.rightCart .rCartBut a{
	width:210px;
	height:36px;
	background:#d30313;
	display:inline-block;
	border-radius:5px;
	text-align:center;
	line-height:36px;
	color:#fff;
	font-weight:bold;
}
/*客户服务*/
.popupDiv{
	display:none;
}
.severDiv{
	padding:15px;
}
.severDiv p{
	height:38px;
	text-align:center;
	margin:0px 0 15px 0;
}
.severDiv p a{
	width:100%;
	height:38px;
	display:inline-block;
	font-size:14px;
	font-family:"微软雅黑";
	background:#ebebeb;
	border-radius:5px;
	line-height:38px;
	color:#666;
}
.severDiv p a:hover{
	background:#e4b632;
	color:#fff;
}