.paswcont{
	width:888px;
	padding:10px 35px 30px;
	margin-top:10px;
	*margin-top:20px;
	border:#e4e4e4 solid 1px;
}
.paswcont h2{
	width:888px;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#af251d;
	border-bottom:#e5e5e5 solid 1px;
}
.fpaspic{
	width:869px;
	height:31px;
	background:url(../images/paspic.gif) no-repeat;
	background-position:0 0;
	margin-top:15px;
	margin-left:10px;
}
.spaspic{
	width:869px;
	height:31px;
	background:url(../images/paspic.gif) no-repeat;
	background-position:0 -39px;
	margin-top:15px;
	margin-left:10px;
}
.tpaspic{
	width:869px;
	height:31px;
	background:url(../images/paspic.gif) no-repeat;
	background-position:0 -80px;
	margin-top:15px;
	margin-left:10px;
}
.fopaspic{
	width:869px;
	height:31px;
	background:url(../images/paspic.gif) no-repeat;
	background-position:0 -120px;
	margin-top:15px;
	margin-left:10px;
}
/*输入用户名*/
.tabdiv{
	width:700px;
	margin-top:10px;
	padding-left:200px;
}
.errorSpan{
	background: url("../images/cw.gif") no-repeat scroll 10px center transparent;
    color: #898989;
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding-left: 35px;
}
.tabtable{
	margin-bottom:0px;
}
.tabtable td{
	height:24px;
	line-height:24px;
	padding:20px 0px 0px 0px;
}
.twotable td{
	padding:10px 0px 0px 0px;
}

.tabdiv p{
	padding-top:15px;
	padding-left:45px;
}
.tabdiv a{
	color:#3366cc;
	padding-left:10px;
}
.tabdiv a:hover{
	color:#3366cc;
	text-decoration:underline;
}
.pasttext{
	width:220px;
	height:22px;
	border:#dbdbdb solid 1px;
}
.pasyztext{
	width:110px;
	height:22px;
	border:#dbdbdb solid 1px;
	float:left;
	margin-right:10px;
}
.yztext{
	width:110px;
	height:22px;
	border:#dbdbdb solid 1px;
	margin-right:10px;
}
.tabdiv .padp{
	padding-left:82px;
}
/*验证身份*/
.checking{
	width:848px;
	padding-left:20px;
}
.checking h2{
	width:848px;
	height:40px;
	font-size:14px;
	padding-top:10px;
	border-bottom:#e5e5e5 dashed 1px;
	margin-bottom:10px;
}
.checking h2 span{
	color:#333333;
}
.checksel{
	height:22px;
	margin-top:8px;
	margin-left:5px;
}
.checking p{
	padding-top:15px;
	padding-left:90px;
}
.checking span{
	width:120px;
	display:inline-block;
	text-align:right;
}
.checking  .paspadp{
	padding-left:210px;
}
/*完成*/
.pasOver{
	width:848px;
	padding-left:20px;
	text-align:center;
}
.pasOver h2{
	width:848px;
	height:60px;
	border:none;
	line-height:60px;
	font-size:16px;
	color:#333333;
}
.pasOver h2 span{
	color:#af251d;
}
.pasoverpic{
	width:680px;
	padding-left:90px;
	*padding-left:0px;
}
.tipform{
	height:32px;
	line-height:32px;
	display:inline-block;
	float:left;
	background:url(/malltemplate/bmall/images/jg.gif) no-repeat 10px center;
	padding-left:35px;
	color:#898989;
}

.error{
	height:32px;
	line-height:32px;
	display:inline-block;
	float:left;
	background:url(/malltemplate/bmall/images/cw.gif) no-repeat 10px center;
	padding-left:35px;
	color:#898989;
}


.success_form{
	height:32px;
	line-height:32px;
	display:inline-block;
	float:left;
	background:url(/malltemplate/bmall/images/cg.gif) no-repeat 10px center;
	padding-left:35px;
	color:#898989;
}