.logoSearDiv{
	width:990px;
}
/*注册logo*/
.regLogo{
	width:99px;
	height:27px;
	background:url(../images/bTitle.gif) no-repeat;
	background-position:0 -65px;
	position:absolute;
	left:300px;
	top:38px;
}
/*注册内容背景*/
.registb{
	width:100%;
	background:#f6f6f6;
	margin-top:15px;
}
.regist{
	width:990px;
	padding:15px 5px;
	border-top:#dddddd solid 1px;
	margin:0 auto;
}
/*第一步信息填写*/
.pswInfor{
	width:990px;
	height:84px;
	background:url(../images/retrieve.gif) no-repeat;
	background-position:0 -70px;
}
.regMain{
	width:990px;
	margin-top:10px;
}
.regMain h2{
	width:990px;
	height:36px;
	line-height:36px;
	position:relative;
}
.regMain h2 span{
	display:inline-block;
	font-size:14px;
	height:36px;
	border:#dddddd solid 1px;
	border-bottom:none;
	background:#fff;
	padding:0 20px;
	color:#d81d20;
	position:absolute;
	left:50px;
}
/*table*/
.regcont{
	width:968px;
	padding:15px 10px 30px  10px;
	border:#dddddd solid 1px;
	background:#fff;
}
.regtab th{
	font-size:14px;
	font-weight:400;
	text-align:right;
	padding:12px 0px;
}
.regtab th span{
	color:#d81d20;
	font-size:12px;
	padding:0 5px;
}
.regtab td{
	padding:12px 0px;
	color:#999999;
}
.regtab .zctext{
	width:270px;
	height:36px;
	line-height:36px;
	border:#e5e5e5 solid 1px;
	padding-left:5px;
	background:url(../images/register.gif) no-repeat;
	background-position:240px -88px;
}
.regtab .mmtext{
	width:270px;
	height:36px;
	line-height:36px;
	border:#e5e5e5 solid 1px;
	padding-left:5px;
	background:url(../images/register.gif) no-repeat;
	background-position:240px -134px;
	font-family:Arial;
}
.regtab .yzmtext{
	width:200px;
	height:36px;
	line-height:36px;
	border:#e5e5e5 solid 1px;
	padding-left:5px;
}
.regtab .yzmtext2{
	width:165px;
	height:36px;
	line-height:36px;
	border:#e5e5e5 solid 1px;
	padding-left:5px;
}
.regtab .yzmPic{
	padding:9px;
}
.regtab .yes{
	height:36px;
	line-height:36px;
	background:url(../images/register.gif) no-repeat;
	background-position:0px -257px;
	padding-left:30px;
}
.regtab .not{
	height:36px;
	line-height:36px;
	background:url(../images/register.gif) no-repeat;
	background-position:0px -292px;
	padding-left:30px;
}
.regtab .warning{
	height:36px;
	line-height:36px;
	background:url(../images/register.gif) no-repeat;
	background-position:0px -333px;
	padding-left:30px;
}
.proBut{
	width:270px;
	height:36px;
	background:url(../images/retrieve.gif) no-repeat;
	background-position:0px 0px;
	border:none;
	cursor:pointer;
	margin:15px 0 0 145px;
}
.regtab b{
	font-size:12px;
	color:#d81d20;
}
/*手机验证，邮箱验证*/
.pswVerify{
	width:990px;
	height:84px;
	background:url(../images/retrieve.gif) no-repeat;
	background-position:0 -166px;
}
.regtab .sjtext{
	width:270px;
	height:36px;
	line-height:36px;
	border:#e5e5e5 solid 1px;
	padding-left:5px;
	background:url(../images/register.gif) no-repeat;
	background-position:240px -175px;
}
.regtab .yxtext{
	width:270px;
	height:36px;
	line-height:36px;
	border:#e5e5e5 solid 1px;
	padding-left:5px;
	background:url(../images/register.gif) no-repeat;
	background-position:240px -214px;
}
.regtab .sjytext{
	width:270px;
	height:36px;
	line-height:36px;
	border:#e5e5e5 solid 1px;
	padding-left:5px;
}
.regcont .yzsh3{
	font-size:14px;
	margin:10px 0 10px 50px;
	font-weight:400;
}
.regtab .yzmBut{
	width:90px;
	height:40px;
	background:#f8f8f8;
	border:#e8e8e8 solid 1px;
	cursor:pointer;
}
.regtab .yzzhbut{
	width:270px;
	height:36px;
	background:url(../images/retrieve.gif) no-repeat;
	background-position:0px 0px;
	border:none;
	cursor:pointer;
}
/*重新输入密码*/
.pswAgain{
	width:990px;
	height:84px;
	background:url(../images/retrieve.gif) no-repeat;
	background-position:0 -262px;
}
/*注册成功*/
.pswSucceed{
	width:990px;
	height:84px;
	background:url(../images/retrieve.gif) no-repeat;
	background-position:0 -358px;
}
.regSuMian{
	width:988px;
	height:240px;
	border:#dddddd solid 1px;
	background:#fff;
}
.regsucont{
	position:relative;
}
.regsbpic{
	width:319px;
	height:63px;
	background:url(../images/retrieve.gif) no-repeat;
	background-position:-280px 0px;
	position:absolute;
	left:320px;
	top:70px;
}
.regsucont p{
	position:absolute;
	left:300px;
	top:150px;
	font-size:14px;
}
.regsucont a{
	color:#d81d20;
	margin:0 5px;
}
.regsucont a:hover{
	color:#d81d20;
	text-decoration:underline;
}

.pasttext{
	width:220px;
	height:22px;
	border:#dbdbdb solid 1px;
}