.goodsmain{
	margin-top:10px;
}
.ordertitle{
	border:1px solid #E6E6E6;
	padding:5px;
	background:#F3F3F3;
}
.detailmain{
	border:1px solid #E6E6E6;
	padding:0px;
}

.detailgs{
	height:40px;
	padding:5px;
	border-bottom:1px solid #E6E6E6;
}
.detailgs_1{
	height:40px;
	padding:5px;
}

.degn_span a{
	color:#3D6BB6;
	line-height:20px;
	font-weight:600;
}

.degn_span a:hover{
	color:#FF6600;
}

.detail_td1{
	border-right:1px solid #E6E6E6;
}

.degn_td1,.detail_td1 a{
	color:#3D6BB6;
	line-height:20px;
}

.degn_td1,.detail_td1 a:hover{
	color:#FF6600;
}

.degn_tip a{
	color:#3D6BB6;
	line-height:15px;
}
.degn_tip a:hover{
	color:#FF6600;
}



.order_img_1{
	background:url("/include/bmall/images/order_img_1.gif")  ;
	height:21px;
	width:52px;
	display:block;
	color: #fff;
	line-height: 21px;
	text-align: center;
	float: left;
}

.order_img_2{
	background:url("/include/bmall/images/order_img_2.gif") ;
	height:21px;
	width:64px;
	display:block;
	color: #fff;
	line-height: 21px;
	text-align: center;
	float: left;
}
.orderimgp{
	margin:0px 0 0px 300px;
}
.orderimgp a{
	margin:15px 8px;
}
.gs_img{
	width:50px;
	height:50px;
	border:1px solid #e1e2e3;
	margin-right:8px;
}

/*ȷ���ջ�ҳ��*/
.contitle{
	padding:6px;
	border-bottom:1px solid #AEC7E5;
}
.conorder{
	padding:10px 0px 20px 30px;
}
.gname{
	line-height:21px;
}

.gname a{
	color:#3366CC;
}

.gname a:hover{
	color:#FF6600;
}

.gdthdiv td{
	text-align:center;
	padding:5px;
}
.totalmon{
	border-bottom:1px solid #DDDDDD;
    padding:0px 0px 20px 0px;
}
.totalmon span{
	margin-top:30px;
 	float:right;
 	font-size:16px;
}

.totalprice{
	font-size:20px;
	color:#FF884D;
	font-weight:600;
}

.confirm{
	border:1px solid #F7E4A5;
	padding:20px;
}
.confirm ul{
	line-heght:25px;
}
.conmg{
	color:red;
	font-weight:600;
}
.btncf{
	padding-left:120px;
	padding-top:20px;
}
.btn1{
	margin-left:66px;
}

.evaltitle{
	border:1px solid #C4D5DF;
}
.evaltitlediv{
	width:72px;
	height:72px;
}
.evaltitlediv img{
	width:72px;
	height:72px;
}
.itemlist{
	border:1px solid #C4D5DF;
	margin-top:8px;
}
.itemb{
	padding:6px;
	padding-left:8px;
	border-bottom:1px solid #FED690;
	background-color:#FEDB9E;
	
}
.listhd th{
	background-color:#F3F8FE;
}
.btneval{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}

.movescore{
}

.movetitle{
	padding:5px;
	padding-left:15px;
	background:#FEDB9E;
}

.movedescri{
	padding:8px;
	padding-left:28px;
}

.ordertitle2{
	border-bottom:1px solid #D8E9FF;
	padding-bottom:10px;
}

.saletitle1{
	border-top:1px solid #D1D7DC;
	width:100%;
	margin-left:16px;
	padding-left:8px;
}

.saletitle2{
	width:100%;
	margin-left:16px;
	padding-left:8px;
}

.coe_td{
	padding-top:7px;
}

.goodsdetail3{
	margin-left:20px;
	margin-top:20px;
}
.gdtitle1{
	padding:6px;
	background:#E8F2FF;
	border:1px solid #DDDDDD;
	border-bottom:none;
}

.gdtd1 td{
	text-align:center;
}
.gdtd2{
	text-align:center;
}
.btmonut{
	margin-top:8px;
	
}
.totalprice2{
	font-size:16px;
	font-weight:600;
	color:#FF5500;	
}
.return{
	text-align:center;
	padding-top:10px;
}

.fdwold{
	font-weight:600;
	padding-top:8px;
}
.upspan{
	margin-left:8px;
}
.monwidth{
	width:100px;
}
.operorderstate{
	width:430px;
	margin:0 auto;
}
.operorderstate .submitbut{
	float:left;
	
}
.ordermsgshow{
}
.f_size{
	font-size:12px;
}
.fb_size{
	font-size:13px;
}
