.receivebg {
	margin-top: 2px;
	border-bottom: solid #AAC1DE 1px;
	height: 100px;
	width: 808px;
	background-color: #EFF5FB;
	padding-left: 30px;
	padding-top: 5px;
	margin-left: 0px;
	padding-left: 10px;
}

.sendtalbe_b{
	font-size:14px;
}

.replycontent{
	margin-top:30px;
}

.response {
	margin: 10px 0px 0px 0px;
	padding-top: 2px;
	border: solid #e1e2e3 1px;
	background-color: #EFF5FB;
	text-align:center;
}

.receivebg table {
	margin-top: 30px;
}

.receivebg td {
	margin-left: 10px;
	margin-top: 10px;
}

.memlogo {
	height:80px;
	width:80px;
	float:right;
	border:1px solid #e1e2e3;
	margin-right:15px;
	margin-top:8px;
}

.sendtable {
	margin-top: 5px;
	height:100px;
}

.content {
	width: auto;
	background-color: #FFF;
	padding-left:12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.alreadycontent{
	margin-top:2px;
}

.sendth {
	padding: 5px 0px 5px 7px;
	color:#798699;
	align:left;
	font-family:Verdana, Geneva, sans-serif;
}
.sendvalue{
	
	color:#5FA207;
	font-weight:bolder;
	padding-left:5px;
	padding-bottom:120px;

}

.title{
font-size:19px;
}
.receive{
color:#000000;
}
hr{
	
background-color: #BE0000;
}
.base_infor h2{
	 font-size: 14px;
    margin-top: 8px;
    padding-left: 16px;
}