.main_index{
	background:#FFFFFF;
}
body {
    margin:0;
    padding: 0px;
    font-size: 12px;
    font-family: "����";
    background:white;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

div, ul,li, p, h2 {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    border: 0;
}
	
.f_left{
	float:left;
	}
.f_right{
	float:right;
	}	
.clear {
    clear: both;
}


.top{
	height:80px;
	width:100%;
	background:#4E6A81;
	}
.logo{
	width:136px;
	height:38px;
	padding:10px 0 0 10px;
	}
.nav{
	padding-top:3px;
	_padding-top:4px;
	}
		
.nav li{
	float:left;
	display:inline-block;
	margin-left:5px;
	width:80px;
	height:29px;
	text-align:center;
	display:inline;
	}
.nav_a{		
	background:url(/include/admin/images/nav_li.jpg) no-repeat;
	height:28px;
	line-height:28px;
	margin-top:1px;
	color:#FFF;
}
.nav_hover{
	background:url(/include/admin/images/nav_hover.jpg) no-repeat;
	height:29px;
	line-height:29px;
	font-weight:bold;
	font-size:14px;
	}

.nav_hover a{
	font-size:14px;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.nav_a a{
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	}			
	
	
.top_r{
	/*width:582px;*/
	height:78px;
	background:url(/include/admin/images/topbglight.gif) no-repeat;
	}
.title{
	width:220px;
	height:22px;
	float:right;
	}
.top_r a{
	text-decoration:none;
	color:#FFF;
    line-height:22px;
	padding-left:20px;
	}		
.yy{
	display:inline-block;
	height:22px;
	width:50px;
	background:url(/include/admin/images/yy.jpg) no-repeat left center;
	margin-left:30px;
	line-height:22px;
	}
.siteindex{
	display:inline-block;
	height:22px;
	width:30px;
	background:url(/include/admin/images/hp.jpg) no-repeat left center;
	margin-left:5px;
	line-height:22px;
	}
.hp{
	display:inline-block;
	height:22px;
	width:30px;
	background:url(/include/admin/images/hp.jpg) no-repeat left center;
	margin-left:5px;
	line-height:22px;
	}
.xd{
	display:inline-block;
	height:22px;
	width:50px;
	margin-left:5px;
	background:url(/include/admin/images/xd.jpg) no-repeat left center;
	}
.kf{
	display:inline-block;
	height:22px;
	width:50px;
	margin-left:5px;
	background:url(/include/admin/images/kf.jpg) no-repeat left center;
	}	
	
.top_1 p{
	text-align:right;
	color:#FFF;
	padding:55px 20px 0 0;
	}			
/*ͷ������*/		

.cont{
	width:100%;
	margin-top:5px;
	}			
.sidebar{
	width:150px;
	border-top:2px solid #ccc;
	}	
.sidebar a,.sidebar a:hover{
	text-decoration:none;
	}	
.sidebar ul{
	width:150px;
	}
.sidebar li{
	display:inline-block;
	}		
.first_li{
	height:25px;
	background:#efefef;
	line-height:25px;
	border-bottom:1px solid #ccc;
	}
.first_li a{
	color:#336699;
	display:block;
	width:125px;
	padding-left:25px;
	background:url(/include/admin/images/sidebar_a.jpg) no-repeat 10px center;
	}	
.hover{
	background:#6f777a;
	height:22px;
	line-height:22px;
	}	
.hover a{
	color:#fff;
	font-weight:bold;
	display:block;
	padding-left:25px;
	width:125px;
	}	
.link{
	height:22px;
	line-height:22px;
	border-bottom:1px solid #efefef;
	}
.link a{
	color:#000;
	display:block;
	padding-left:25px;
	width:125px;
	}	
	
/*��8����	*/
.arrow{
	width:9px;
	float:left;
	background:#6f777a;
	overflow: auto;
	height: 100%;z-index: 96;
	 box-sizing: border-box; 
	 -moz-box-sizing: border-box; 
	 -webkit-box-sizing: border-box;
	}
.arrow img{
	padding-top:257px;
	}	
.arrow a{
	display:block;
	height:514px;
	width:9px;
	}	
.mian_t_top_top{
	width:107%;
	height:27px;
	background:url(/include/admin/images/main_t.jpg) repeat-x;
	
	}
.main{
	width:100%;
	height:30px;
	}
.mian_t{
	width:100%;
	}	
.cont_main{
	width:100%;
	height:auto;
	}
	
.w_martop{
	margin-top:15px;
}
.w_marlef{
	margin-left:15px;
}
.w_padlef{
	padding-left:10px;
}
.w_padtop{
	padding-top:10px;
}
.w_padbot{
	padding-bottom:10px;
}
.w945{
	width:92%;
	height:auto;
}
.lcon_main{
	width:65%;
}
.rcon_main{
	width:35%;
}
.connet{
	width:65%;
}
r_connent{
	width:35%;
}
.con_title{
	padding-left:10px;
	font-size:12px;
	font-weight:bold;
	width:148%;
	height:26px;
	line-height:26px;
	background:url(/include/admin/images/hxz_title.gif) repeat-x;
	border-left:#bec7ce  solid 1px;
	border-right:#bec7ce  solid 1px;
}
.rcon_title{
	width:87%;
	height:26px;
	line-height:26px;
	background:url(/include/admin/images/hxz_title.gif) repeat-x;
	border-left:#bec7ce  solid 1px;
	border-right:#bec7ce  solid 1px;
}
.rcon_font{
	padding-left:10px;
	font-size:12px;
	font-weight:bold;
	float:left;
}
.con_connent{
	width:150%;
	border:#bec7ce  solid 1px;
}
.con_connents{
    width:150%;
	border:#bec7ce  solid 1px;
}
.con_connents ul{
	padding-bottom:5px;
	float:left;
	line-height:22px;
}
.con_connents li{
    
	padding-left:10px;
	border-bottom:1px solid #eeeeee;
	
}

.con_connent ul{
	padding-bottom:5px;
	float:left;
	line-height:22px;
	width:100%;
}
.con_connent li{
	width:280px;
	float:left;
	margin-right:1px;
	list-style-type:none;
	border-bottom:1px solid #eeeeee;
}

.yw_abc{
	color:#000000;
	height:23px;
   }
.yw_abc span{
}
.yw_abc .ywspanf{
	width:60px;
	display:inline-block;
	text-align: right;
}
.yw_abc .ywspans{
	width:40px;
	display:inline-block;
	text-align:center;
}
.yw_abc .ywspant{
	width:30px;
	display:inline-block;
	text-align:center;
}
.yw_abc .ywspant a{
	color:blue;
}

.yw_a{
	padding-left:20px;
	width:55px;
	text-algin:right;
}

.yw_b{
	margin-right:10px;
	text-algin:right;
}
.yw_bb{
	width:52px;
	margin-left:10px;
	text-algin:right;
}

.yw_c{
	width:20px;
	text-algin:right;
}

.yw_d{
	width:10px;
	text-algin:right;
}

.yw_a2{
	text-decoration:none;
	color:#000000;
	padding-left: 10px;
	height:25px;
}
.yw_a22
{
	text-decoration:none;
}
.yw_a222
{
	width:35%;
}
.yw_ass{
	width:250px;
	text-decoration:none;
	color:#000000;
	display:inline-block;
}
.num_color{
	width:57px;
	color:#ff7e00;
	text-decoration:none;
	display:inline-block;
}
.rcon_connent{
	width:87%;
	border:#bec7ce  solid 1px;
}
.rcon_connent .logname{
	display:inline-block;
	width:70%;
}
.rcon_connent ul{
	line-height:22px;
	padding-bottom:5px;
}
.rcon_connent li{
	padding-left:10px;
	border-bottom:1px solid #eeeeee;
	
}
.rcon_f{
	text-decoration:none;
	color:#000000;
	display:inline-block;
}
.rcon_connent p{
	padding-top:8px;
	padding-left:10px;
}
.more{
	text-decoration:none;
	font-size:12px;
	font-weight:100;
	color:#333;
	float:right;
	margin-right:10px;
}

.line{
	width:100%;
	border-bottom:#6F777A 1px solid;
	margin-top:40px;
	*margin-top:30px;
	_margin-top:20px;
}
.foot{
	width:100%;
	text-align:center;
	margin:10px 0 10px 0;
	color:#3A3A3A;	
}
