.divceng{
	height:100px;
	width:350px;
	border:2px solid #617E92;
	background:#E2E9EF;
	padding:10px;
	margin:10px;
	}
	
.divsearch{
	height:60px;
	width:230px;
	border:2px solid #617E92;
	background:#E2E9EF;
	padding:10px;
	margin:10px;
	}

	