.oper_top{
	height:1px;
}
.oper_seo_div{
	border:1px solid #D0D0D0;
	margin:10px 0px 0px 8px;
	width:98%;
}
.wwtable{
	margin-bottom:10px;
}
.tabbar{
	margin-top:0px;
	margin-left:-1px;
	width:100%;
	height:26px;
	background:url(../images/line.gif) repeat-x bottom;
}

.tabbar ul{
}
.tabbar li{
	float:left;
	margin-right:5px;
	height:26px;
	background:url(../images/topbar2.gif) repeat-x;
	color:#666666;
	font-size:12px;
	line-height:26px;
	padding-left:10px;
	padding-right:10px;
	border-left:#d0d0d0 solid 1px;
	border-right:#d0d0d0 solid 1px;
	cursor:pointer;
}
.tabbar li.selected{
	background:url(../images/topbar1.gif) repeat-x;
	font-weight:600;
}

.tabdiv{
	margin-top:5px;
	display:block;
	margin-bottom:10px;
}

.ptabbar{
	margin-top:0px;
	margin-left:-1px;
	width:100%;
	height:26px;
	background:url(../images/line.gif) repeat-x bottom;
}
.ptabbar li{
	float:left;
	margin-right:5px;
	height:26px;
	background:url(../images/topbar2.gif) repeat-x;
	color:#666666;
	font-size:12px;
	line-height:26px;
	padding-left:10px;
	padding-right:10px;
	border-left:#d0d0d0 solid 1px;
	border-right:#d0d0d0 solid 1px;
	cursor:pointer;
}
.ptabbar li.pselected{
	background:url(../images/topbar1.gif) repeat-x;
	font-weight:600;
}

.ptabdiv{
	margin-top:5px;
	display:block;
	margin-bottom:10px;
}

.main_cont{
	width:100%;
	background:#FFF;
	padding-top:1px;
	margin-top:3px;
}	

.optionDiv{
	border:1px solid #C7DEFF;
	background:#F5F9FE;
	width:479px;
	padding:10px 10px 5px 10px;
	float:left;
	margin-top:5px;
}

.backoption{
	border-top:1px solid #98BBD2;
	padding-top:5px;
}

.option{
	padding:4px 6px 4px 6px;
	border:1px solid #98BBD2;
	background:#D6EDF4;
	margin:0px 10px 5px 0px;
	float:left;
	cursor:pointer;
}

.operoption{
	padding:4px 10px 4px 10px;
	border:1px solid #C3C8CB;
	background:#E5E9EC;
	margin:0px 10px 5px 0px;
	float:left;
	cursor:pointer;
}

.showtitle{
	margin-top:8px;
	margin-bottom:5px;
	padding:10px;
	padding-left:10px;
	color:#666666;
	background:#F5F5F5;
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}

.showtitle b{
	font-size:14px;
}

.showcontent{
	border:1px solid #FFFFFF;
}

.imgdiv{
 position: relative;
 _height:460px;
 min-height:460px;
 float:left;
}
.pic_top{
   width:307px;
   height:30px;
   padding:3px 0px 0px 3px;
   border-bottom:1px solid #e1e2e3;
   background:#F0F0F0;
}
.pic_top table tr{
   background:#F0F0F0;
}

.pic_top div{
	float:right;
	width:200px;
	margin-top:5px;
}
.list_pic{
   border:2px solid #FFD324;
   background:#FFF6BF;
   margin:3px 3px 0px 3px;
   width:299px;
   padding-bottom:5px;
}
.list_pic table tr{
	background:#FFF6BF;
}
.list_pic p{
   margin:6px;
}

.show_pic{
  float:left;
  padding-left:3px;  
}

.imgsshowdiv{
	padding:1px;
}

.imgstyle{
	width:24px;
	height:12px;
}

.delimg{
	  background:url('/include/admin/images/delimg.gif') no-repeat 5px 1px;
	  border:1px solid #e1e2e3;
	  padding-left:26px;
}
.show_pic li{
  float:left;
  padding:0px;
  margin:1px;
  border:1px solid #e1e2e3;
}

.group img{
	width:50px;
	height:50px;
	border:1px solid #e1e2e3;
	padding:1px;
}
.showlistimgdiv{
	border:1px solid #e1e2e3;
	padding-bottom:5px;
	float:left;
}

.uploadQueue{
	 width:380px;
	 border:0px solid #e1e2e3;
	 position: absolute;
	 left:-380px;
	 background:#FFF;
}

.listImgDiv{
   padding:6px 20px 8px 36px;
   width:236px;
   height:200px;
   background:#FFFFFF;
   border:1px solid #e1e2e3;
   margin-left:2px;
}
.listImgDiv img{
   width:220px;
   height:200px;
   border:1px solid #e1e2e3;
   padding:1px;
}

.span_size li{
   float:left;
   _width:80px;
   min-width:80px;
   margin-right:10px;
}

.sizebox{
	border:2px solid #34495A;
	background:#CAD9E6;
	height:auto;
}


.h_size{
	background:#CAD9E6;
	height:30px;
	margin-top:-5px;
}
#sizeDIv{
	background:#FFFFFF;
	border:1px solid #7895B8;
	border-bottom:none;

}

.spec_table{
	width:98%;
	border:0px;
	background:#c4c5c9;
	margin:9px 0px 0px 8px;
}

.spec_table tr{
	background:#FFF;
}

.tablediv{
	background:#FFFFFF;
	padding-top:0px;
	padding-bottom:10px;
	z-index:2;
}
	
.tableform{
	margin-top:0px;
}

.c_span{
   margin-left:690px;
}
.spec_id{
  padding:3px 5px 3px 5px;
  border:1px solid #336699;
  
}

.bgtab{
	background:#FFFFFF;
	height:31px;
	padding:0px 0px 0px 9px;
	width:689px;
	float:left;
}

.bgtab li{
  float:left;
  padding:6px 20px 6px 12px;
  border:1px solid #DDDDDD;
  border-bottom:none;
  margin-top:5px;
  cursor:pointer;
}


.selli{
   font-weight:600;
}

.imgbox{
	height:500px;
	background:#CAD9E6;
	border:2px solid #34495A;
}
.imgoper{
	text-align:center;
	border:1px solid #DDDDDD;
	background:#F5F5F5;
	border:none;
	padding-bottom:3px;
}
#showulimg{
	width:596px;
	height:468px;
	margin-bottom:5px;
	float:left;
	overflow:auto;
	background:#FFF;
}
#showulimg li{
  float:left;
  width:90px;
  border:1px solid #e1e2e3;
  margin:8px;
  margin-right:12px;
}

.sulimig{
   width:68px;
   height:63px;
}

.oneimg{
	width:30px;
	height:30px;
	margin:1px;
	marign-right:2px;
	border:1px solid #e1e2e3;
}
.labelul{
	float:left;
	width:600px;
}

.labelul li{
 	float:left;
 	width:100px;
 	line-height:22px;
}

.setsizeimg{
 	width:22px;
 	height:22px;
}

.fixheight{
	line-height:35px;
	height:35px;
}

.sizelist{
	width:700px;
	height:300px;
	overflow-y:auto;
	display:none;
}

.selsizelist{
	margin:5px;
	border:1px solid #CCCCCC;
}

.selsizelist_p{
	background:#F0F0F0;
	height:22px;
	padding:8px 0px 0px 16px;
	border-bottom:2px solid #6F777A;
}

.selsizelist_ul{
	margin:6px;
	float:left;
}
.selsizelist_ul li{
	float:left;
	margin:2px 5px 2px 0px;
	padding:2px 0px 2px 0px;
}

#sizetable{
	width:100%;
}
#sizetable td{
	border:1px solid #FFFFFF;
	padding:3px;
}

.size_td1{
	width:60px;
	text-align:left;
}
.size_td2 span{
	padding-right:2px;
}

.alreadysize{
	margin:10px;
}

.alreadysize table{
	width:100%;
	border:0px;
	background:#c4c5c9;
}

.alreadysize table tr{
	background:#FFFFFF;
}

.alreadysize table th{
	padding:6px;
	background:#EEEEEE;
}

.alreadysize table td{
	padding:6px;
}

.specimg{
	 width:25px;
	 height:25px;
	 padding:1px;
	 border:1px solid #CECECE;
}
.selfspecimg{
	 width:25px;
	 height:25px;
	 margin-right:5px;
	 padding:1px;
	 border:1px solid #CECECE;
}


.specspan{
	color:black;
	font-weight:bolder;
}

.sepctxt{
	width:50px;
}

.selfspecspan{
	padding:4px 7px 4px 7px;
	border:1px solid #CECECE;
}

.autocreate{
	text-align:center;
	height:26px;
	line-height:26px;
	padding:4px;
}

.setsizeimg{
	 width:25px;
	 height:25px;
	 padding:1px;
	 border:1px solid #CECECE;
}

.size_b{
	line-height:22px;
	color:#666666;
}

.showsizevalmsg{
	height:35px;
	text-align:center;
	padding-top:25px;
}

.checkformNull{
	border:1px solid #e1e2e3;
}

.op_table{
	width:100%;
}

.op_table th{
	background:#EEF1F5;
	line-height:23px;
	height:23px;
	font-size:13px;
}

.op_zi_table{
	background:#e1e2e3;
}
.op_zi_table tr{
	background:#FFFFFF;
}

.table_goods_td1{
	font-size:13px;
	text-align:left;
	height:30px;
	padding-left:10px;
	font-weight:600;
	border-top:1px solid #5AA3E5;
	padding-top:5px;
}

.table_goods_td2{
	font-size:13px;
	background:#e3e8ec;
	text-align:right;
	height:30px;
	width:230px;
}

.updowngoods{
	width:600px;
	height:413px;
	padding:11px;	
	margin-left: -300px;
	margin-top: -185px;
	background:#CAD9E6;
	border:1px solid #3D596F;
}


.contain_up{
	width:589px;
	height:379px;
	border:1px solid #cecece;
	background:#FFFFFF;
	padding:5px;
	padding-top:8px;
}

.loaderbar{
	margin-left: -100px;
	width: 200px;
}


.morecatdiv{
	border:1px solid #FFFFFF;
	margin-left:-3px;
}
.show_add_cat{
	border:1px solid #cecece;
	margin-left:3px;
	padding:3px;
}

.oper_add{
	color:#990000;
}

.oper{
	margin-left:20px;
	color:#990000;
}
