.oper_seo_div{
	border:1px solid #D0D0D0;
	margin:10px 0px 0px 20px;
}

.tabbar{
	margin-top:0px;
	margin-left:-1px;
	width:100%;
	height:26px;
	background:url(../images/line.gif) repeat-x bottom;
}
.tabbar ul{
}
.tabbar li{
	float:left;
	margin-right:5px;
	height:26px;
	background:url(../images/topbar2.gif) repeat-x;
	color:#666666;
	font-size:12px;
	line-height:26px;
	padding-left:10px;
	padding-right:10px;
	border-left:#d0d0d0 solid 1px;
	border-right:#d0d0d0 solid 1px;
	cursor:pointer;
}
.tabbar li.selected{
	background:url(../images/topbar1.gif) repeat-x;
	font-weight:600;
}

.tabdiv{
	margin-top:5px;
	display:none;
	margin-bottom:10px;
}

.main_cont{
	width:100%;
	background:#FFF;
	padding-top:1px;
	margin-top:3px;
}	

.optionDiv{
	border:1px solid #C7DEFF;
	background:#F5F9FE;
	width:479px;
	padding:10px 10px 5px 10px;
	float:left;
	margin-top:5px;
}

.backoption{
	border-top:1px solid #98BBD2;
	padding-top:5px;
}

.option{
	padding:4px 6px 4px 6px;
	border:1px solid #98BBD2;
	background:#D6EDF4;
	margin:0px 10px 5px 0px;
	float:left;
	cursor:pointer;
}

.operoption{
	padding:4px 10px 4px 10px;
	border:1px solid #C3C8CB;
	background:#E5E9EC;
	margin:0px 10px 5px 0px;
	float:left;
	cursor:pointer;
}

.showtitle{
	margin-top:8px;
	padding:5px;
	padding-left:10px;
	color:#666666;
	background:#F5F5F5;
}

.tj_main_cont{
	background:#FFFFFF;
}

.pagetip_main{
	background:#EFEFEF;
	padding-bottom:12px;
}

.p1{
	font-weight:bold;
	font-size:14px;
	line-height:40px;
	margin-left:10px;
	margin-bottom:0px;
}
.p1 span{
	font-size:12px;
    float: right;
    padding-right: 30px;
}
.p1 span a{
    color: red;
}

.pagecontent{
	background:#FFFFFF;
	width:97%;
	margin:0 auto;
}


