body{margin:0;padding:0;font-size:12px;font-family: "宋体";color:#666666;background:#fff;}
ul{padding:0;margin:0;list-style-type:none;}
div, ul, p, h2 ,h3{margin:0;padding:0;border:none;}
dl,dt,dd{padding:0px;margin:0px;}
from{padding:0px;margin:0px;}
img{border:none;margin:0;padding:0;}
a{color:#666666;text-decoration:none;}
a:hover{color:#d81d20;text-decoration:none;}
.f_left{float:left;}
.f_right{float:right;}	
.clear{clear: both;}
.mblue{color:#2262b0;}
.mred{color:#e1292d;}
.morange{color:#ff6500;}
.mgreen{color:#7abd53;}
.mgray{color:#b3b3b3;}
.w990{
	width:1020px;
	margin:0 auto;
	margin-top:2px;
}
/*顶部*/
.topBack{
	width:100%;
	height:36px;
	background:#f9f9f9;
	border-bottom:#eaeaea solid 1px;
}
.topCont{
	width:1180px;
	height:36px;
	line-height:36px;
	margin:0 auto;
}
.topCont .ltCont{
	float:left;
}
.topCont .rtCont{
	float:right;
}
/*.rtCont span{
	float:left;
}*/
.rtCont .loginSpan a{
	margin:0 5px;
}
/*合作登录*/
.rtCont .cLoginSpan{
	height:35px;
	padding:0 22px 0 8px;
	margin-right:5px;
	position:relative;
	cursor:pointer;
	background:url(../images/topjt.png) no-repeat 90% center;
	border:#f9f9f9 solid 1px;
	border-bottom:none;
	z-index:10;
}
.rtCont .addCLS{
	height:36px;
	background:#fff url(../images/topjt.png) no-repeat 90% center;
	border:#eaeaea solid 1px;
	border-bottom:#fff solid 1px;
}
.cLoginSpan .clsDiv{
	width:107px;
	position:absolute;
	left:-1px;
	top:36px;
	background:#fff;
	border:#eaeaea solid 1px;
	border-top:none;
	padding:0px;
	line-height:24px;
	display:none;
}
.cLoginSpan .clsDiv .clsp img{
	padding:10px;
	width:85px;
	height:85px;
}
.cLoginSpan .clsDiv a{
	width:97px;
	height:28px;
	line-height:28px;
	display:inline-block;
}
.cLoginSpan .clsDiv a:hover{
	background:#e4b632;
	color:#fff;
	text-decoration:none;
}
.rtCont  .tOrderSpan a{
	background:url(../images/topLine.gif) no-repeat left center;
	padding:0 10px;
}
/*手机版本*/
.rtCont  .phoneSpan{
	padding:0 20px 0 5px;
	margin-right:5px;
	position:relative;
	cursor:pointer;
	background:url(../images/topjt.png) no-repeat 94% center;
	border:#f9f9f9 solid 1px;
	border-bottom:#fff solid 1px;
	z-index:10;
}
.rtCont  .phoneSpan img{
	vertical-align:middle;
	padding:0 5px 0 2px;
}
.rtCont .addPhone{
	background:#fff url(../images/topjt.png) no-repeat 94% center;
	border:#eaeaea solid 1px;
	border-bottom:#fff solid 1px;
}
.rtCont .phoneDiv{
	width:170px;
	position:absolute;
	left:-100px;
	top:36px;
	background:#fff;
	border:#eaeaea solid 1px;
	border-top:none;
	padding:10px;
	display:none;
}

/*logo,搜索,购物车*/
.logoSearDiv{
	width:1020px;
	height:75px;
	margin:15px auto 12px;
	position:relative;
	z-index:5;
}
.logoDiv{
	position:absolute;
	top:0px;
	left:0px;
}
/*搜索*/
.searDiv{
	width:480px;
	position:absolute;
	left:315px;
	top:10px;
}
.searDiv .searCont{
	width:476px;
	height:35px;
	background:#fff;
	border:#e4b632 solid 2px;
}
.searCont .searText{
	width:375px;
	height:18px;
	line-height:18px;
	position:absolute;
	top:8px;
	left:5px;
	border:#fff solid 1px;
}
.searCont .searBut{
	width:90px;
	height:38px;
	background:#e4b632;
	border:none;
	position:absolute;
	top:0px;
	right:0px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#fff;
	cursor:pointer;
}
.searHot{
	width:480px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	color:#929292;
}
.searHot a{
	color:#929292;
	margin-right:15px;
}
.searHot a:hover{
	color:#d71d20;
}
/*购物车*/
.iCart{
	width:154px;
	height:39px;
	position:absolute;
	right:0px;
	top:11px;
}
.iCart  .ica{
	width:154px;
	height:39px;
	display:inline-block;
	position:absolute;
	top:0px;
	z-index:1;
	background:url(../images/icart.png) no-repeat;
}
.iCart  .addIca{
	background:url(../images/hcart.png) no-repeat;
}
.iCart  .icNum{
	background:#e4b632;
	color:#fff;
	padding:1px 5px;
	border-radius:7px 7px 7px 0;
	position:absolute;
	z-index:2;
	left:120px;
	top:-5px;
}
/**/
.iCart  .icCont{
	width:310px;
	border:#e9e9e9 solid 1px;
	position:absolute;
	top:38px;
	left:-158px;
	background:#fff;
	display:none;
}
.icCont .icp{
	padding:10px 10px 0 10px;
}
.icCont .zjP{
	height:28px;
	background:#f5f5f5;
	padding:10px;
	margin-top:10px;
	line-height:28px;
}
.icCont .zjP .goa{
	height:28px;
	background:#e4b632;
	float:right;
	padding:0 10px;
	color:#fff;
	font-family:"微软雅黑";
	border-radius:2px;
	-moz-border-radius:2px;;
	-ms-border-radius:2px;;
	-o-border-radius:2px;;
	-webkit-border-radius:2px;
}
/**/
.icCont .icTab{
	padding:0 5px;
}
.icCont .icTab tr{
	vertical-align:top;
}
.icCont .icTab td{
	padding:10px 5px 10px;
	border-bottom:#ccc dashed 1px;
}
.icCont .icTab .imgtb{
	width:50px;
	height:50px;
}
.icCont .icTab .imgtb img{
	width:50px;
	height:50px;
	border:#dddddd solid 1px;
}
.icCont .icTab .texttb{
	width:130px;
	line-height:18px;
}
.icCont .cztab{
	text-align:right;
}
.icCont .cztab p{
	line-height:18px;
	padding-bottom:3px;
}
.icCont .cztab .scSpan{
	cursor:pointer;
}
/*导航*/
.navBack{
	width:100%;
	height:45px;
	border-bottom:#a3873f solid 2px;
}
.navDiv{
	width:1020px;
	height:45px;
	margin:0 auto;
}
/*导航产品分类*/
.claMain{
	width:220px;
	height:45px;
	background:#e4b632;
	float:left;
	position:relative;
	z-index:8;
    border-bottom: #a3873f solid 2px;
}
.claMain .clah2{
	width:185px;
	height:45px;
	line-height:45px;
	font-family:"微软雅黑";
	color:#fff;
	font-size:16px;
	background:url(../images/clah2.gif) no-repeat 10px center;
	padding-left:35px;
}
/**/
.claMain .claMeun{
	width:220px;
	height:578px;
	background:#faf8f4;
	position:absolute;
	top:47px;
	left:0px;
	display:none;
}
.claMeun  li{
	width:200px;
	height:34px;
	background:url(../images/claLine.gif) repeat-x bottom;
	overflow:hidden;
	padding:0 10px;
}
.claMeun  li h3{
	height:34px;
	font-family:"微软雅黑";
	font-weight:400;
	font-size:13px;
	line-height:34px;
	background:url(../images/clajt.gif) no-repeat right center;
}
.claMeun  li a:hover{
	text-decoration:underline;
}
.claMeun  .addLi{
	background:#e4b632;
	color:#fff;
}
.claMeun  .addLi h3{
	background:url(../images/clajt2.gif) no-repeat right center;
}
.claMeun  .addLi a{
	color:#fff;
}
/*右边隐藏部分*/
.claMeun .claItem{
	width:400px;
	background:#e4b632;
	position:absolute;
	left:220px;
	padding:5px 15px 10px;
	z-index:1;
	font-family:"微软雅黑";
}
.claItem .claItemCont h4{
	height:42px;
	line-height:40px;
	width:400px;
	font-size:14px;
	font-weight:400;
	border-bottom:#a3873f solid 1px;
}
.claItem .claItemCont h4 img{
	width:25px;
	height:25px;
	vertical-align:middle;
	padding-right:5px;
}
.claItem .claItemCont p{
	padding-top:10px;
}
.claItem .claItemCont p a{
	color:#fff;
	display:inline-block;
	margin:5px 25px 5px 0;
}
/*导航*/
.navCont{
	width:800px;
	float:left;
	line-height:45px;
	font-family:"微软雅黑";
	font-size:15px;
	overflow:hidden;
}
.navCont li{
	float:left;
	padding:0 20px;
}

/*底部*/
.botBack{
	margin-top:15px;
	padding:0 0 15px;
}
.tsBanner{
	width:100%;
	height:90px;
	background:#f5f5f5;
	
}
.tsBanner .tsPic{
	width:1180px;
	height:90px;
	margin:0 auto;
	background:url(../images/tsBanner.gif) no-repeat  center;
}
.sNavDiv{
	width:1180px;
	margin:20px auto 0;
}
.sNavDiv li{
	width:180px;
	float:left;
	margin-left:5px;
}
.sNavDiv li h3{
	font-family:"微软雅黑";
	height:28px;
	line-height:24px;
	font-weight:400;
	font-size:14px;
}
.sNavDiv li ul li{
	float:none;
	line-height:24px;
	margin:0px;
}
.sNavDiv .sNavdp{
	width:180px;
	height:140px;
	background:url(../images/jmdp.gif) no-repeat left 10px;
	padding-left:60px;
}
.sNavDiv .sNavdp p{
	line-height:20px;
	padding:7px 0 0;
}
.sNavDiv .sNavdp span{
	font-family:"微软雅黑";
	font-size:14px;
}
/**/
.copyright{
	width:1180px;
	border-top:#e5e5e5 solid 1px;
	margin:15px auto 0;
}
.copyright p{
	text-align:center;
	line-height:22px;
	padding-top:15px;
}
.copyright a{
	margin:0 5px;
}
/*面包屑*/
.postion{
	width:1020px;
	margin:0 auto;
	margin-top:10px;
	padding:8px 0 10px 0;
}
.postion .lpos{
	height:14px;
	line-height:14px;
	background:url(../images/mSmallico.gif) no-repeat;
	background-position:0 -159px;
	padding-left:20px;
	display:inline-block;
}
/*左边*/
.wL170{
	width:200px;
	float:left;
}
.wL170 h2{
	width:188px;
	height:34px;
	line-height:34px;
	background:#e4b632;
	font-size:14px;
	padding-left:10px;
	border:#e4b632 solid 1px;
	border-top:#a3873f solid 1px;
}
.wL170 h2 a{
	color:#fff;
}
.wLul{
	width:198px;
	border:#e6e6e6 solid 1px;
	border-top:none;	
}
.wLul li h3{
	width:178px;
	height:33px;
	line-height:33px;
	color:#333333;
	font-size:12px;
	background:#f9f9f9;
	border-bottom:#fff solid 1px;
	padding:0 10px;
}
.wLul li h3 span{
	background:url(../images/mIco.gif) no-repeat left 10px;
	display:inline-block;
	padding-left:20px;
	cursor:pointer;
}
.wLul li h3 .addspan{
	background-position:0 -17px;
}
.wLul li ul{
	width:196px;
	display:none;
}
.wLul li ul li{
	height:36px;
	line-height:36px;
	border-bottom:#cccccc dashed 1px;
	padding-left:18px;
}
.wLul li ul .addli{
	border:none;
}
.wLul li ul li a{
	background:url(../images/mIco.gif) no-repeat;
	background-position:0 -56px;
	padding-left:12px;
}
.wLul li ul .selli a{
	color:#d81d20;
	background-position:0 -75px;
}
/*右边*/
.wR810{
	width:810px;
	float:right;
}
/*会员中心通用的table*/


.cssbtn{
       border:#9AC0CD 1px solid;
       height:23px;
       line-height:20px;
       background:#FFFFFF;
       color:#2F4F4F;
}


/*右边统一标题*/
.rwTitle{
	width:808px;
	border:#e6e6e6 solid 1px;
}
.rwTitle h2{
	height:37px;
	border-bottom:#e6e6e6 solid 1px;
	position:relative;
}
.rwTitle h2 span{
	width:120px;
	height:39px;
	background:url(../images/member.gif) no-repeat;
	background-position:0 -184px;
	display:inline-block;
	position:absolute;
	top:-1px;
	left:-1px;
	font-size:14px;
	text-align:center;
	line-height:38px;
	color:#d81d20;
}
.rwTitle h2 a{
	position:absolute;
	top:13px;
	right:10px;
	font-size:12px;
	font-weight:400;
}
/*内容上部按钮*/
.rTopDiv{
	width:800px;
	padding:15px 0 15px 8px;
	
}
.rTopDiv .queryText{
	width:150px;
	height:20px;
	line-height:20px;
	border:#cccccc solid 1px;
	padding-left:3px;
}
.rTopDiv .queryBut{
	width:66px;
	height:25px;
	background:url(../images/member.gif) no-repeat;
	background-position:-128px -184px;
	border:none;
	cursor:pointer;
}

.rTopDiv .searchtext{
   padding-bottom:20px;
}

.rTopDiv p{
	padding:5px 0;
}
.rTopDiv h3{
	font-size:14px;
	text-align:center;
}
.rTopDiv span{
	padding:0 5px;
}
/*内容切换tab*/
.tabIDiv{
	height:27px;
	padding:15px 0 0 8px;
	border-bottom:#bfd6af solid 1px;
}
.tabIDiv .niBut{
	width:82px;
	height:27px;
	background:url(../images/member.gif) no-repeat;
	background-position:0 -264px;
	display:inline-block;
	font-weight:400;
	line-height:27px;
	text-align:center;
	font-size:12px;
	color:#373737;
	margin-left:10px;
	border:none;
	cursor:pointer;
}
.tabIDiv .siBut{
	width:82px;
	height:27px;
	background:url(../images/member.gif) no-repeat;
	background-position:0 -232px;
	display:inline-block;
	font-weight:400;
	line-height:27px;
	text-align:center;
	font-size:12px;
	margin-left:10px;
	color:#373737;
	border:none;
	cursor:pointer;
	
}
/*会员通用table*/
.usedTDiv{
	width:808px;
}
.padDiv{
	padding:15px 0 0;
}
.usedTab th{
	height:36px;
	background:url(../images/title_03.gif) repeat-x;
	font-weight:400;
	border-right:#e6e6e6 solid 1px;
}
.usedTab td{
	text-align:center;
	border-bottom:#e6e6e6 solid 1px;
	border-right:#e6e6e6 solid 1px;
	padding:10px 5px;
	line-height:18px;
}
.usedTab td p{
	padding:3px 0;
}
.usedTab td  b{
	color:#ed2934;
}
.usedTab td i{
	color:#2262b0;
	font-style:normal;
}
.usedTab td .graySpan{
	color:#b3b3b3;
}
.usedTab td .orangeSpan{
	color:#ff6600;
}
.usedTab td .blueSpan{
	color:#2262b0;
}
.usedTab td .greenSpan{
	color:#008000;
}
.usedTab .bluea{
	color:#2262b0;
}
.usedTab .bluea:hover{
	color:#2262b0;
	text-decoration:underline;
}
/**/
.usedTab .lUsedTd{
	padding:10px;
	text-align:left;
	vertical-align:top;
}
.lUsedTd .lUsedImg{
	width:60px;
	height:60px;
	float:left;
	border:#e5e5e5 solid 1px;
	padding:4px;
}
.lUsedTd .lUsedImg img{
	width:60px;
	height:60px;
}
.lUsedTd  .lUsedDiv{
	width:260px;
	float:left;
	padding-left:12px;
}
.usedTab .lUsedTd b{
	color:#535353;
}
/**/
.usedTab .addCart{
	width:96px;
	height:21px;
	background:url(../images/addcart_03.gif) no-repeat;
	display:inline-block;
	margin:5px 0 3px;
}
.usedTab .addCart:hover{
	background:url(../images/addcarth_03.gif) no-repeat;
}
/*取消订单记录*/
.usedTab .coTd{
	text-align:left;
}
.coTd div{
	width:225px;
}
.coTd div img{
	width:50px;
	height:50px;
	border:#eeeeee solid 1px;
	padding:2px;
	margin:5px 3px 0 5px;
}
/*返修/退换货*/
.reUsedImg{
	width:80px;
	float:left;
	margin-right:15px;
	display:inline;
}
.reUsedImg img{
	width:60px;
	height:60px;
	border:#eeeeee solid 1px;
	padding:2px;
	margin:0 6px;
}
.reUsedImg  .rep{
	text-align:center;
	margin-top:3px;
}
.reUsedImg  .rep a{
	width:80px;
	height:20px;
	line-height:20px;
	background:#e03539;
	color:#fff;
	display:inline-block;
}
.reUsedImg  .rep a:hover{
	color:#fff;
	background:#e03539;
	text-decoration:underline;
}
.reUsedImg .rep .bluea{
	background:#fff;
	color:#2262b0;
}
.reUsedImg .rep .bluea:hover{
	background:#fff;
	color:#2262b0;
}
.reUsedImg .rep .graya{
	background:#fff;
	color:#999;
}
.reUsedImg .rep .graya:hover{
	background:#fff;
	color:#999;
	text-decoration:none;
}
/**/
.selUsed{
	height:45px;
	background:#f9f9f9;
	line-height:45px;
	position:relative;
}
.selUsed span{
	padding:0 15px;
}
/*翻页控件*/
.listbottom{
	padding:15px 0;
}
/*按钮*/
.submitbut{
	width:75px;
	height:25px;
	background:url(../images/fbbut_03.gif) no-repeat;
	border:none;
	cursor:pointer;
	line-height:25px;
	text-align:center;
}
.exitbut{
	width:75px;
	height:25px;
	background:url(../images/fbbut_03.gif) no-repeat;
	border:none;
	cursor:pointer;
	line-height:25px;
	text-align:center;
}
.graybut{
	width:66px;
	height:25px;
	background:url(../images/sobut_03.gif) no-repeat;
	border:none;
	cursor:pointer;
	line-height:25px;
	text-align:center;
}
.graylongbut{
	width:90px;
	height:25px;
	background:url(../images/sobut_03.gif) no-repeat;
	border:none;
	cursor:pointer;
	line-height:25px;
	text-align:center;
}
.deletebut{
	width:66px;
	height:25px;
	background:url(../images/sobut_03.gif) no-repeat;
	border:none;
	cursor:pointer;
	line-height:25px;
	text-align:center;
}
.qrbut{
	width:74px;
	height:25px;
	background:url(../images/qrsh.gif) no-repeat;
	border:none;
	cursor:pointer;
	line-height:25px;
	text-align:center;
	color:#;
}
/*订单的table*/
.orderDiv{
	width:808px;
}
.ordPad{
	padding:15px 0 0px; 
}
.h2Tab td{
	text-align:center;
	height:36px;
	background:url(../images/title_03.gif) repeat-x;
}
/**/
.orderTab tr{
	vertical-align:top;
}
.orderTab th{
	height:34px;
	background:#f9f9f9;
	line-height:34px;
	border-bottom:#e6e6e6 solid 1px;
	text-align:left;
	font-weight:400;
}
.orderTab th span{
	padding:0 15px;
}
.orderTab th i{
	color:#2953a6;
	font-style:normal;
}
.orderTab th a{
	color:#2953a6;
}
.orderTab th a:hover{
	color:#d81d20;
}
.orderTab td{
	border-right:#e6e6e6 solid 1px;
	border-bottom:#e6e6e6 solid 1px;
	text-align:center;
	padding:10px 0;
	line-height:20px;
}
.orderTab .imgTd{
	text-align:left;
	padding:10px 5px;
}
.orderTab .imgTd div{
	width:280px;
}
.orderTab .imgTd img{
	width:50px;
	height:50px;
	border:#eeeeee solid 1px;
	padding:2px;
	margin:5px 3px 0 5px;
}
.orderTab td a{
	color:#2262b0;
}
.orderTab td a:hover{
	color:#2262b0;
	text-decoration:underline;
}
.orderTab td span{
	color:#2262b0;
	padding:0 2px;
}
.orderTab td b{
	color:#ff6500;
}
.orderTab td i{
	color:#2953a6;
	font-style:normal;
	cursor:pointer;
}
.orderTab td  .padp{
	padding-top:5px;
}
/*物流*/
.orderTab .logistics{
	width:90px;
	height:50px;
	position:relative;
}
.logistics div{
	position:absolute;
	width:320px;
	background:#f2f9eb;
	left:-332px;
	top:-10px;
	border:#bfd6af solid 1px;
	padding:5px 10px;
	display:none;
}
.logistics th{
	background:none;
	border-bottom:#d5e8c7 solid 1px;
}
.logistics td{
	border:none;
	text-align:left;
	padding:5px 0;
}
.logistics .jtp{
	position:absolute;
	right:-10px;
	top:12px;
}
/**/
.orderTab .paya{
	background:#e03539;
	color:#fff;
	padding:2px 15px;
	margin:3px 0;
	display:inline-block;
}
.orderTab .paya:hover{
	color:#fff;
	text-decoration:none;
}
/**/
.orderTab .addCart{
	width:96px;
	height:21px;
	background:url(../images/addcart_03.gif) no-repeat;
	display:inline-block;
	margin:5px 0 3px;
}
.orderTab .addCart:hover{
	background:url(../images/addcarth_03.gif) no-repeat;
}
.orderTab .qrbut{
	display:inline-block;
	color:#333;
}
.orderTab .qrbut:hover{
	color:#333;
	text-decoration:none;
}
.orderTab .qrbut:hover{
	display:inline-block;
	color:#333;
}
/*取消订单等详细页面*/
.cancelDiv{
	width:778px;
	padding:15px;
}
.cancelTop{
	width:756px;
	background:#fffdee;
	border:#ecd087 solid 1px;
	padding:0 10px;
}
.cancelTop p{
	height:40px;
	line-height:40px;
}
.cancelTop .linep{
	border-top:#ecd087 dashed 1px;
	color:#a9a9a9;
}
.cancelTop span{
	padding-right:10px;
}
/**/
.stepDiv{
	width:416px;
	height:59px;
	margin:5px 180px;
}
.stepDiv  h3{
	width:416px;
	height:59px;
	background:url(../images/cancel.gif) no-repeat;
}
.stepDiv .fsh3{
	background-position:0 0;
}
.stepDiv .ssh3{
	background-position:0 -73px;
}
.stepDiv .tsh3{
	background-position:0 -145px;
}
.stepDiv .fosh3{
	background-position:0 -217px;
}
.stepsDiv{
	width:540px;
	height:59px;
	margin:5px 120px;
}
.stepsDiv h3{
	width:540px;
	height:59px;
	background:url(../images/cancel.gif) no-repeat;
}
.stepsDiv .fsh3{
	background-position:0 -287px;
}
.stepsDiv .ssh3{
	background-position:0 -359px;
}
.stepsDiv .tsh3{
	background-position:0 -431px;
}
.stepsDiv .fosh3{
	background-position:0 -503px;
}
.stepsDiv .fish3{
	background-position:0 -575px;
}
/**/
.opeDiv h3{
	font-size:12px;
	line-height:32px;
}
.opeTab{
	border:#f1f1f1 solid 1px;
}
.opeTab th{
	height:32px;
	background:#f5f5f5;
	font-weight:400;
}
.opeTab td{
	text-align:center;
	padding:7px 0;
	line-height:18px;
}
.opeTab .opeTd{
	text-align:left;
}
.opeTab td i{
	font-style:normal;
	color:#a9a9a9;
}
.opeTab td span{
	padding:0 10px;
}
.opeTab .spanTd{
	text-align:left;
	padding:10px 20px;
}
.opeTab img{
	width:50px;
	height:50px;
	border:#eeeeee solid 1px;
	padding:2px;
	margin:5px 3px 0 5px;
}
.opeTab .totalTd{
	text-align:right;
	border-top:#eeeeee solid 1px;
	padding:10px;
}
.opeTab .addCart{
	width:96px;
	height:21px;
	background:url(../images/addcart_03.gif) no-repeat;
	display:inline-block;
	margin:5px 0 3px;
}
.opeTab .addCart:hover{
	background:url(../images/addcarth_03.gif) no-repeat;
}
.opeTab .bluea{
	color:#2262b0;
}
.opeTab .bluea:hover{
	color:#2262b0;
	text-decoration:underline;
}
/**/
.opeTab .evaSpan{
	color:#2262b0;
	cursor:pointer;
}
.opeTab .evaSpan:hover{
	color:#d81d20;
	text-decoration:underline;
}
.opeTab  table td{
	padding:0px;
}
.opeTab  table .evasTr{
	display:none;
}
.opeTab  table .evasTr .evasDiv{
	width:774px;
	position:relative;
	background:#fcfffa;
	top:10px;
	border:#d0e4c2 solid 1px;
	padding:10px 0;
}
.evasTr .evasDiv img{
	height:auto;
	width:auto;
	border:none;
	background:none;
	padding:0;
}
.evasTr .evasDiv .jtPic{
	position:absolute;
	right:45px;
	top:-17px;
}
.evasTr .evasDiv  tr{
	vertical-align:top;
}
.evasTr .evasDiv th{
	background:none;
	text-align:right;
	padding:10px 0;
}
.evasTr .evasDiv td{
	text-align:left;
	padding:10px;
}
.evasTr .evasDiv span{
	color:#ff6500;
	padding:0 5px 0 0;
}
.evasTr .evasDiv textarea{
	width:500px;
	height:60px;
	padding:5px;
	border:#e6e6e6 solid 1px;
}
/**/
.detTab{
	border:#f1f1f1 solid 1px;
	border-bottom:none;
	line-height:24px;
}
.detTab th{
	border-right:#f1f1f1 solid 1px;
	border-bottom:#f1f1f1 solid 1px;
	font-weight:400;
	padding:9px 10px;
}
.detTab th span{
	padding:0px 5px;
	color:#d81d20;
}
.detTab td{
	border-bottom:#f1f1f1 solid 1px;
	padding:9px 10px;
}
.detTab td span{
	padding-right:15px;
}
.detTab .reTr th{
	background:#f8f8f8;
	padding:7px 0px;
}
.detTab  .reTd td{
	text-align:center;
	border-bottom:#f1f1f1 solid 1px;
	border-right:#f1f1f1 solid 1px;
	padding:7px 0px;
}
.detTab  .reTd .redtd{
	color:#d81d20;
}
.detTab textarea{
	width:350px;
	height:60px;
	padding:5px;
	border:#e6e6e6 solid 1px;
}
.detTab td p{
	padding:5px 0; 
}
.detTab td .aifText{
	width:150px;
	height:24px;
	line-height:24px;
	border:#e6e6e6 solid 1px;
	padding-left:5px;
	margin-right:10px;
}
.detTab td .aifcardText{
	width:38px;
	height:24px;
	line-height:24px;
	border:#e6e6e6 solid 1px;
	padding-left:5px;
	margin-right:10px;
}
.detTab td  .aisText{
	width:300px;
	height:24px;
	line-height:24px;
	border:#e6e6e6 solid 1px;
	padding-left:5px;
	margin-right:10px;
}
.detTab td select{
	height:22px;
	line-height:22px;
	margin-right:10px;
}
.detTab td .scimg img{
	width:90px;
	height:90px;
	border:#e6e6e6 solid 1px;
	padding:2px;
	margin-right:10px;
}
.detTab .bluea{
	color:#2262b0;
}
.detTab .bluea:hover{
	color:#2262b0;
	text-decoration:underline;
}
/**/
.instructions{
	line-height:18px;
}
.instructions p{
	padding:3px 0;
}
/*充值*/
.topup{
	width:800px;
	padding:15px 0 15px 8px;
	background:#f2f9eb;
	margin-top:15px;
	border-bottom:#bfd6af solid 1px;
	position:relative;
}
.topup span{
	padding:0 15px 0 10px;
}
.topup b{
	font-size:14px;
}
.topup .graybut{
	position:absolute;
	top:10px;
	right:20px;
}
.topupDiv{
}
/*取消订单*/
.popupDiv{
	display:none;
}
.popOrderDiv{
	width:460px;
	padding:0 20px;
}
.popOrderDiv th{
	height:34px;
	line-height:34px;
	text-align:left;
	border-bottom:#f4f4f4 solid 1px;
}
.popOrderDiv th span{
	padding-left:5px;
	font-weight:400;
	color:#a8a8a8;
}
.popOrderDiv td{
	padding:10px 0;
}
.popOrderDiv .potd{
	text-align:right;
}
.popOrderDiv td span{
	padding-right:5px;
	color:#d81d20;
	
}
.popOrderDiv td img{
	width:50px;
	height:50px;
	border:#f3f3f3 solid 1px;
	padding:2px;
	margin-right:8px;
}
/*一般订单*/
.orderStep{
	width:780px;
	height:58px;
	padding:10px 0;
}
.orderStep span{
	width:780px;
	height:58px;
	background:url(../images/ybddStep.gif) no-repeat;
	display:inline-block;
}
.orderStep .noPay{background-position:0 0;}
.orderStep .pay{background-position:0 -64px;}
.orderStep .outBound{background-position:0 -126px;}
.orderStep .waitGoods{background-position:0 -190px;}
.orderStep .success{background-position:0 -255px;}
/*预售订单*/
.ysOrderStep{
	width:780px;
	height:58px;
	padding:10px 0;
}
.ysOrderStep span{
	width:780px;
	height:58px;
	background:url(../images/ysddStep.gif) no-repeat;
	display:inline-block;
}
.ysOrderStep .djPay{background-position:0 0;}
.ysOrderStep .wkPay{background-position:0 -64px;}
.ysOrderStep .outBound{background-position:0 -126px;}
.ysOrderStep .waitGoods{background-position:0 -190px;}
.ysOrderStep .success{background-position:0 -255px;}
.ysOrderStep .subpay{background-position:0 -316px;}
/*取消订单*/
.cancelOrder{
	width:780px;
	height:82px;
	padding:10px 0;
}
.cancelOrder span{
	width:780px;
	height:82px;
	background:url(../images/qxddStep.gif) no-repeat;
	display:inline-block;
}
.cancelOrder .wait{background-position:0 0;}
.cancelOrder .qxOrder{background-position:0 -88px;}
.cancelOrder .success{background-position:0 -176px;}
/*海外直发订单*/
.hwzfOrderStep{
	width:780px;
	height:58px;
	padding:10px 0;
}
.hwzfOrderStep span{
	width:780px;
	height:58px;
	background:url(../images/hwzfStep.gif) no-repeat;
	display:inline-block;
}
.hwzfOrderStep .tjdd{background-position:0 0;}
.hwzfOrderStep .djcl{background-position:0 -64px;}
.hwzfOrderStep .yfh{background-position:0 -126px;}
.hwzfOrderStep .dtg{background-position:0 -190px;}
.hwzfOrderStep .tgcg{background-position:0 -255px;}
.hwzfOrderStep .yqshw{background-position:0 -320px;}
.hwzfOrderStep .ddwc{background-position:0 -385px;}
.hwzfOrderStep .thsb{background-position:0 -450px;}
.hwzfOrderStep .tkwc{background-position:0 -515px;}

/*保税订单*/
.baoshuiOrderStep{
	width:780px;
	height:58px;
	padding:10px 0;
}
.baoshuiOrderStep span{
	width:780px;
	height:58px;
	background:url(../images/bsqStep.gif) no-repeat;
	display:inline-block;
}
.baoshuiOrderStep .tjdd{background-position:0 0;}
.baoshuiOrderStep .djcl{background-position:0 -64px;}
.baoshuiOrderStep .yfh{background-position:0 -126px;}
.baoshuiOrderStep .dtg{background-position:0 -190px;}
.baoshuiOrderStep .tgcg{background-position:0 -255px;}
.baoshuiOrderStep .yqshw{background-position:0 -320px;}
.baoshuiOrderStep .ddwc{background-position:0 -385px;}
.baoshuiOrderStep .thsb{background-position:0 -450px;}
.baoshuiOrderStep .tkwc{background-position:0 -515px;}

/*客户服务*/
.popupDiv{
	display:none;
}
.severDiv{
	padding:15px;
}
.severDiv p{
	height:38px;
	text-align:center;
	margin:0px 0 15px 0;
}
.severDiv p a{
	width:100%;
	height:38px;
	display:inline-block;
	font-size:14px;
	font-family:"微软雅黑";
	background:#ebebeb;
	border-radius:5px;
	line-height:38px;
	color:#666;
}
.severDiv p a:hover{
	background:#e4b632;
	color:#fff;
}





